<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<h2>Add Book</h2>

	<form th:action="@{/addBook}" th:object="${book}" method="POST">
		<table>
			<tr>
				<td>Book Id</td>
				<td><input type="text" th:field="*{bookId}" /></td>
			</tr>
			<tr>
				<td>Book Name</td>
				<td><input type="text" th:field="*{bookName}" /></td>
			</tr>
			<tr>
				<td>Book Price</td>
				<td><input type="text" th:field="*{bookPrice}" /></td>
			</tr>
			<tr>
				<td>Stock Available</td>
				<td><input type="radio" th:field="*{stockStatus}" value="available" /> Yes 
				<input type="radio" th:field="*{stockStatus}" value="not-available" /> No</td>
			</tr>
			<tr>
				<td><input type="Submit" value="Submit" /></td>
			</tr>
		</table>
	</form>
</body>
</html>